html{
    background-color: bisque;
}
h1{
    text-align: center;
    font-size: 40px;
}
p{
    text-align: center;
    justify-content: center;
    padding-top: -10%;
}
h2{
    font-weight: 400;
    justify-content: center;
}